<!DOCTYPE html>
<html lang="en">

<br>
<label for="supplier">Supplier</label> <input required="required" class="formField" id="supplier" type="text"><br><br>
<label for="title">Title</label> <input class="formField" id="title" type="text"><br><br>
<label for="isbn">ISBN</label> <input class="formField" id="isbn" type="text"><br><br>
<label for="author">Author</label> <input class="formField" id="author" type="text"><br><br>
<label for="genre">Genre</label> <input class="formField" id="genre" type="text"><br><br>
<label for="edition">Edition</label> <input class="formField" id="edition" type="text"><br><br>
<label for="publishDate">Publish Date</label> <input class="formField" id="publishDate" type="date"><br><br>
<label for="units">Units</label> <input class="formField" id="units" type="number"><br><br>
<input class="submitBtn" type="button" value="Submit" onclick="submitBook()">

</html>