<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav>
    <div class="nav">
        <button class="nav-link" onclick="navigate('pages/home.html')">Home</button>
        <button class="nav-link" onclick="navigate('pages/bookSearch.html')">Books</button>
        <button class="nav-link" onclick="navigate('pages/suppliers.html')">Suppliers</button>
        <button class="nav-link" onclick="navigate('pages/users.html')">Users</button>
    </div>
</nav>

</body>
</html>