<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<nav class="header">
    <div >
        <img class="headerIcon" src="assets/header_icon.png" >
    </div>
    <div class="nav">
        <button class="nav-link admin librarian support guest" onclick="navigate('pages/home.html', ['admin', 'librarian', 'support', 'guest'])">Home</button>
        <button class="nav-link admin librarian support guest" onclick="navigate('pages/bookSearch.html', ['admin', 'librarian', 'support', 'guest'])">Books</button>
        <button class="nav-link admin librarian support guest" onclick="navigate('pages/suppliers.html', ['admin', 'librarian', 'support', 'guest'])">Suppliers</button>
        <button class="nav-link admin librarian support" onclick="navigate('pages/users.html', ['admin', 'librarian', 'support'])">Users</button>
    </div>
</nav>

</body>
</html>