<!DOCTYPE html>
<html lang="en">

<body>
<nav class="header">
    <div >
        <img class="headerIcon" src="assets/header_icon.png" >
    </div>
    <div class="nav">
        <div class="nav-item"><button class="nav-link admin librarian support guest" onclick="navigate('pages/home.html', ['admin', 'librarian', 'support', 'guest'])">Home</button></div>
        <div class="nav-item"><button class="nav-link admin librarian support guest" onclick="navigate('pages/bookSearch.html', ['admin', 'librarian', 'support', 'guest'])">Books</button></div>
        <div class="nav-item"><button class="nav-link admin librarian support guest" onclick="navigate('pages/supplierSearch.html', ['admin', 'librarian', 'support', 'guest'])">Suppliers</button></div>
        <div class="nav-item"><button class="nav-link admin librarian support" onclick="navigate('pages/userSearch.html', ['admin', 'librarian', 'support'])">Users</button></div>
        <div class="nav-item"><button class="nav-link admin librarian support" onclick="navigate('pages/loans.html', ['admin', 'librarian', 'support'])">Loans</button></div>
        <div class="nav-item"><button class="nav-link admin librarian support" onclick="navigate('pages/createData.html', ['admin', 'librarian', 'support'])">New</button></div>
        <div  class="nav-item dropdown" id="login">
            <button onclick="dropdown()" class="dropbtn material-icons">perm_identity</button>
            <div id="myDropdown" class="dropdown-content">
                <div id="screen_login">
                    <span class="menu-text">not logged in</span>
                    <button class="log-link" onclick="navigate('components/loginForm.html', [])">login</button>

                </div>
                <div id="screen_welcome">
                    <span id="logged_user" class="menu-text">logged as Roberto</span>
                    <button class="log-link" onclick="user.logout()">logout</button>
                    <button class="log-link admin">create user</button>
                </div>
            </div>
        </div>
    </div>
</nav>

</body>
</html>