<!DOCTYPE html>
<html lang="en">

<br>
<span>Supplier</span>
<input class="formField" id="supplier" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="supplier"></label><br>

<span>Title</span>
<input class="formField" id="title" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="title"></label><br>

<span>ISBN</span>
<input class="formField" id="isbn" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="isbn"></label><br>

<span>Author</span>
<input class="formField" id="author" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="author"></label><br>

<span>Genre</span>
<input class="formField" id="genre" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="genre"></label><br>

<span>Edition</span>
<input class="formField" id="edition" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="edition"></label><br>

<span>Publish Date</span>
<input class="formField" id="publishDate" onfocusout="markAsTouched(this)" type="date"><br>
<label class="error-message" for="publishDate"></label><br>

<span>Shelf</span>
<input class="formField" id="shelf" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="shelf"></label><br>

<span>Popularity</span>
<input class="formField" id="popularity" onfocusout="markAsTouched(this)" type="number"><br>
<label class="error-message" for="popularity"></label><br>

<span>Units</span>
<input class="formField" id="units" onfocusout="markAsTouched(this)" type="number"><br>
<label class="error-message" for="units"></label><br>

<input class="submitBtn" type="button" value="Submit" onclick="submitData()">

</html>