<!DOCTYPE html>
<html lang="en">

<br>
<span>ISBN</span>
<input class="formField" id="isbn" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="isbn"></label><br>

<br>
<span>Loan Duration</span>
<input class="formField" id="dueDate" onfocusout="markAsTouched(this)" type="number"><br>
<label class="error-message" for="dueDate"></label><br>

<br>
<span>Exntensions</span>
<input class="formField" id="extensions" onfocusout="markAsTouched(this)" type="number"><br>
<label class="error-message" for="extensions"></label><br>



<input class="submitBtn" type="button" value="Submit" onclick="submitData()">

</html>