<!DOCTYPE html>
<html lang="en">

<br>
<span>Name</span>
<input class="formField" id="supplierName" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="supplierName"></label><br>

<span>About</span>
<textarea class="formField" id="about" onfocusout="markAsTouched(this)"></textarea><br>
<br><label class="error-message" for="about"></label><br>

<span>Website</span>
<input class="formField" id="website" onfocusout="markAsTouched(this)" type="text"><br>
<label class="error-message" for="website"></label><br>

<input class="submitBtn" type="button" value="Submit" onclick="submitData()">

</html>