<!DOCTYPE html>
<html lang="en">

<br>
<span>Name</span>
<input class="formField" id="name" type="text" onfocusout="markAsTouched(this)"><br>
<label class="error-message" for="name"></label><br>

<span>Email</span>
<input class="formField" id="email" type="text" onfocusout="markAsTouched(this)"><br>
<label class="error-message" for="email"></label><br>

<span>Phone</span>
<input class="formField" id="phone" type="text" onfocusout="markAsTouched(this)"><br>
<label class="error-message" for="phone"></label><br>

<input class="submitBtn" type="button" value="Submit" onclick="submitData()">

</html>