<!DOCTYPE html>
<html lang="en">

<br>
<span>First Name</span>
<input class="formField" id="firstName" type="text" onfocusout="markAsTouched(this)"><br>
<label class="error-message" for="firstName"></label><br>

<span>Last Name</span>
<input class="formField" id="lastName" type="text" onfocusout="markAsTouched(this)"><br>
<label class="error-message" for="lastName"></label><br>

<span>Email</span>
<input class="formField" id="email" type="text" onfocusout="markAsTouched(this)"><br>
<label class="error-message" for="email"></label><br>

<span>Phone</span>
<input class="formField" id="phone" type="text" onfocusout="markAsTouched(this)"><br>
<label class="error-message" for="phone"></label><br>

<input class="submitBtn" type="button" value="Submit" onclick="submitData()">

</html>