<!DOCTYPE html>
<html lang="en">

<br>
<label for="firstName">First Name</label> <input class="formField" id="firstName" type="text"><br><br>
<label for="lastName">Last Name</label> <input class="formField" id="lastName" type="text"><br><br>
<label for="email">Email</label> <input class="formField" id="email" type="text"><br><br>
<label for="phone">Phone</label> <input class="formField" id="phone" type="text"><br><br>
<input class="submitBtn" type="button" value="Submit" onclick="submitBook()">

</html>