
*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.nav {
    width: 50%;
    height: 100px;
    background-color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

ul {

}

.nav-link{
    height: 100px;
    list-style: none;
    float: left;
    /*line-height: 100px;*/
    display: flex;

    padding: 0 20px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: Arial, serif;

    background-color: #fff;
    border: none;

}

.nav-link:hover {
    background-color: whitesmoke;
}

ul li a{



    display: block;
}

.red {
    background-color: red;
}